
.center_container {
    margin: auto;
    max-width: 800px;
}

.outer_margin {
    margin: 48px; /* top right bottom left*/
}

h1 {
    background: #558573;
    font-family: "Arial";
    padding: 40px;
    text-align: center;
    font-size:40px;
}

.navigation_bar {
    font-family: "Arial";
    text-align: left;
    font-size: 20px;
    padding: 8px;
}

.navigation_bar a {
    color: white;
}

.navigation_bar a:hover {
        color: grey;
}

.navigation_bar a.active {
  color: grey;
}
