
.center_container {
    margin: auto;
    max-width: 80%;
}

.outer_margin {
    margin: 40px 40px 40px 40px; /* top right bottom left*/
}

h1 {
    font-family: "Arial";
    margin-top: 0px;
    border: 40px solid green;
    background-color: green;
    text-align: center;
    font-size:40px;
}

.navigation_bar {
    font-family: "Arial";
    text-align: left;
    font-size: 20px;
    padding: 8px;
}

.navigation_bar a {
    color: white;
}

.navigation_bar a:hover {
        color: grey;
}

.navigation_bar a.active {
  color: grey;
}
